<!DOCTYPE html>
<html lang="en">
    <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Contact</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="../css/bootstrap.min.css">
      <!-- design css -->
      <link rel="stylesheet" href="../css/design.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="../css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="../images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="../css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- owl stylesheets --> 
      <link rel="stylesheet" href="../css/owl.carousel.min.css">
      <link rel="stylesheet" href="../css/owl.theme.default.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    </head>
    <body>
      <!-- début section header -->
      <div class="header_section">
        <nav class="destop_header navbar navbar-expand-lg navbar-light bg-light">          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="index.html">Acceuil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Profil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="adding.html">Ajouter un projet</a>
              </li>
              <li class="nav-item">
                <img class="logo" src="../images/logo.png">
              </li>
              <li class="nav-item">
                <a class="nav-link" href="list_projects.html">Mes Projets</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Acheter un projet</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contactez-nous</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="signin.html">Se connecter</a>
              </li>
              <form class="search">
                <input type="search" name="q" class="srch" placeholder="Rechercher un projet">
                <a href="#"><button class="btn">Rechercher</button></a>                
              </form>
            </ul>
          </div>
        </nav>
        <nav class="mobile_header navbar navbar-expand-lg navbar-light bg-light">
          <div class="logo"><a href="index.html">InnovaSoc</a></div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent2">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="index.html">Acceuil/a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Profil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="adding.html">Ajouter un projet</a>
              </li>
              <li class="nav-item">
                <a class="logo_main" href="index.html">InnovaSoc</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="list_projects.html">Mes Projets</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Acheter un projet</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contactez-nous</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="signin.html">Se connecter</a>
              </li>
              <form class="search">
                <input type="search" name="q" placeholder="Rechercher un projet" class="srch">
                <a href="#"><button class="btn">Rechercher</button></a>
              </form>
            </ul>
          </div>
        </nav>
      </div>
      <!-- fin section header -->

       <!-- contact section start -->
      <div class="contact_section layout_padding">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h1 class="contact_text">Laissez un commentaire </h1>
                <form action="#">
                  <div class="form-group">
                    <input type="text" class="email-bt" placeholder="Nom" name="Name">
                  </div>
                  <div class="form-group">
                    <input type="text" class="email-bt" placeholder="Email" name="Email">
                  </div>
                    <div class="form-group">
                      <textarea class="massage-bt" placeholder="Commantaire" id="comment" name="comment"></textarea>
                    </div>
                  </form>
                  <div class="main_bt"><a href="#">Envoyer</a></div>
              </div>
            <div class="col-md-6">
              <h1 class="contact_text">Pour nos développeurs</h1>
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <h2 class="selfideno_text">Slogan</h2>
                    <div class="for_client">
                      <div class="image_5"><img src="../images/img-5.png"></div>
                      <p class="lorem_ipsum_text">Slogan de l'entréprise ici</p>
                      <div class="quote_icon"><img src="../images/quote-icon.png"></div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <h2 class="selfideno_text">Citation</h2>
                    <div class="for_client">
                      <div class="image_5"><img src="../images/img-5.png"></div>
                      <cite class="lorem_ipsum_text">
                        Un projet que ça soit grand ou petit ça s'appelle quand-même un projet.
                        Alors si tu en as un, tâche d'aller jusqu'au bout.
                      </cite>
                      <div class="quote_icon"><img src="../images/quote-icon.png"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- contact section end -->
      <!-- need dev section start -->
      <div class="need_dev">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h3 class="need_text">Besoin d'un développeur ?</h3>              
            </div>
            <div class="col-md-6">
              <div class="need_dev_bt_main">
                <div class="need_dev_bt"><a href="#">Joindre un développeur</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- need dev section end --> 

      <!-- footer section start -->
      <!-- info section -->
    <div class="info_section layout_padding">
      <div class="container ">        
        <div class="info_content">          
          <div class="row">
            <div class="col-md-4">
              <div class="d-flex">
                <h5>InnovaSoc</h5>
              </div>
              <div class="d-flex ">
                <ul>
                  <li>
                    <span class="adr">Notre adresse mail:</span> <a href="mailto:innovasoc@gmail.com" title="innovasoc@gmail.com" class="adr">innovasoc@gmail.com</a>
                  </li>                  
                </ul>                
              </div>
            </div>
            <div class="ml-3 ml-md-5">
              <div class="d-flex">
                <h5>
                  Nos Services
                </h5>
              </div>
              <div class="d-flex ">
                <ul>
                  <li>
                    <a href="">
                      Voir nos services
                    </a>
                  </li>
                  <li>
                    <a href="">
                      Comment contacter un développeur
                    </a>
                  </li>
                  <li>
                    <a href="">
                      Comment contacter le service client
                    </a>
                  </li>
                  <li>
                    <a href="">
                      Quels sont nos services
                    </a>
                  </li>
                  <li>
                    <a href="">
                      Contactez-nous
                    </a>
                  </li>
                </ul>                
              </div>
            </div>                        
          </div>
        </div>
          <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center align-items-lg-baseline">
            <div class="social-box">
              <a href="">
                <img src="../images/fb-icon.png" alt="" />
              </a>

              <a href="">
                <img src="../images/twitter-icon.png" alt="" />
              </a>
              <a href="">
                <img src="../images/linkedin-icon.png" alt="" />
              </a>
              <a href="">
                <img src="../images/instagram-icon.png" alt="" />
              </a>
            </div>
            <div class="form_container mt-5">
              <form action="#">
                <label for="subscribeMail">Newsletter</label>
                <input type="email" placeholder="Entrez votre email" id="subscribeMail"/>
                <button type="submit">Subscribe</button>
              </form>
            </div>
          </div>
          </div>
        </div>
      </div>
      <!-- end info section -->
      <!-- footer section end -->
      <!-- copyright section start -->
      <div class="copyright_section">
        <div class="container">
          <p class="copyright">2023 Tous droits reservé.</p>
        </div>
      </div>      
      <!-- copyright section end -->
      <!-- Javascript files-->
      <script src="../Js/jquery.min.js"></script>
      <script src="../Js/popper.min.js"></script>
      <script src="../Js/bootstrap.bundle.min.js"></script>
      <script src="../Js/jquery-3.0.0.min.js"></script>
      <script src="../Js/plugin.js"></script>
      <!-- sidebar -->
      <script src="../Js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="../Js/custom.js"></script>
      <!-- javascript --> 
      <script src="../Js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
   </body>
   </html>