<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>S'authentifier</title>
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../boxicons/specimen_files/css/boxicons.min.css">
</head>
<body>
	<div class="box">
		<div class="contenair">
			<form action="#">
				<div class="top-header">
					<span>Vous n'avez de compte ?<a href="signup.html">Créez-en un</a></span>
					<header><img src="../images/logo.png" alt="" class="logo"></header>
				</div>
				<div class="input-field">
					<input type="text" name="username" required placeholder="Nom d'utilisateur" class="input">
					<i class="bx bx-user"></i>
				</div>
				<br>
				<div class="input-field">
					<input type="password" name="password" required placeholder="Mot de passe" class="input">
					<i class="bx bx-lock"></i>
				</div>
				<br>
				<div class="input-field">
					<button type="submit" class="submit">Connexion</button>
				</div>
				<div class="bottom">
					<div class="left">
						<input type="checkbox" name="remember" id="check">
						<label for="check">Se souvenir de moi</label>
					</div>
					<div class="right">
						<label><a href="#">Mot de passe oublié ?</a></label>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>